Repository Crowd-Mechanics/LEMONS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-doxygen, test-notebooks

Path conditions:
  check-doxygen: any of: \.(h|hpp|cpp|c)$
  test-notebooks: any of: .*\.ipynb$

new release v1.0.1
  CITATION.cff
  data/tutorial_configuration_files/crowd_ANSURII.zip
  pyproject.toml
  uv.lock
Due: none

correct tutorials
  data/tutorial_configuration_files/crowd_ANSURII.zip
  data/tutorial_configuration_files/crowd_custom.zip
Due: none

correct documentation
  README.md
  docs/requirements.txt
Due: none

add citation cff validator hook, and correct syntax in citation cff file
  .github/workflows/citation.yml
  CITATION.cff
Due: none

correct requirements for documentation
  .pre-commit-config.yaml
  docs/requirements.txt
  docs/source/conf.py
  requirements.txt
Due: none

config pre commit, rm format
  .pre-commit-config.yaml
Due: none

add badge citation pass or not
  README.md
Due: none

clarify doc (images, texts)
  .check-notebooks.sh
  CONTRIBUTING.md
  README.md
  docs/source/tutorials_minimal_example_mechanical_layer.nblink
  tutorials/mechanical_layer/evacuation/multiple_runs_.ipynb
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/multiple_runs.ipynb
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/multiple_runs.ipynb
Due: test-notebooks

clarify doc (images, texts)
  data/images/generated/ANSURII_crowd.png
  data/tutorial_configuration_files/crowd_ANSURII.zip
  tutorials/configuration/create_crowd_ANSURII.ipynb
Due: test-notebooks

clarify doc (images, texts)
  docs/source/contributing.rst
  docs/source/installation.rst
  tutorials/mechanical_layer/evacuation/multiple_runs_.ipynb
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/multiple_runs.ipynb
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/multiple_runs.ipynb
Due: test-notebooks

rm kaleido package (conflicts with streamlit)
  docs/requirements.txt
  pyproject.toml
  requirements.txt
  src/streamlit_app/tabs/anthropometry_tab.py
  uv.lock
Due: none

clarify doc
  docs/source/run_app_locally.rst
Due: none

add kaleido package for notebooks
  docs/requirements.txt
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

uv-pre-commit: 0.9.21 → 0.9.28 and ruff-pre-commit: v0.14.10 → v0.14.14
  .pre-commit-config.yaml
Due: none

ssciwr/doxygen-install@v1 1.13.2 → newest
  .github/workflows/main.yml
Due: none

you/your -> the user or imperative
  .check-copyright.sh
  .check-doxygen.sh
  .check-notebooks.sh
  .pre-commit-config.yaml
  .readthedocs.yaml
  .ruff.toml
  CONTRIBUTING.md
  docs/source/conf.py
  docs/source/contributing.rst
  docs/source/installation.rst
  docs/source/run_app_locally.rst
  docs/source/run_mechanical_layer.md
  docs/source/tutorials_config_files.rst
  docs/source/tutorials_tests_mechanical_layer.rst
  tutorials/mechanical_layer/evacuation/multiple_runs_.ipynb
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/multiple_runs.ipynb
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/multiple_runs.ipynb
Due: test-notebooks

edit notebooks metadata to hide a cell
  .check-notebooks.sh
  docs/source/contributing.rst
  tutorials/mechanical_layer/evacuation/movies/evacuation_scenario.mov
  tutorials/mechanical_layer/evacuation/multiple_runs_.ipynb
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/multiple_runs.ipynb
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/multiple_runs.ipynb
Due: test-notebooks

cehck notebooks
  data/images/generated/ANSURII_crowd.png
  data/tutorial_configuration_files/crowd_ANSURII.zip
  data/tutorial_configuration_files/crowd_custom.zip
  tutorials/configuration/create2Dped.ipynb
  tutorials/configuration/create_crowd_ANSURII.ipynb
  tutorials/configuration/create_crowd_custom_statistics.ipynb
  tutorials/configuration/read_configuration_files.ipynb
Due: test-notebooks

edit notebooks metadata
  tutorials/mechanical_layer/evacuation/multiple_runs_.ipynb
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/multiple_runs.ipynb
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/multiple_runs.ipynb
Due: test-notebooks

typos
  tutorials/mechanical_layer/evacuation/multiple_runs_.ipynb
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/multiple_runs.ipynb
Due: test-notebooks

update version
  .check-notebooks.sh
  CITATION.cff
  CONTRIBUTING.md
  README.md
  pyproject.toml
  uv.lock
Due: none

update version
  CITATION.cff
  README.md
  docs/source/contributing.rst
  docs/source/source.rst
  pyproject.toml
  uv.lock
Due: none

journal -> journal-title
  CITATION.cff
Due: none

journal-title -> journal
  CITATION.cff
Due: none

v1.0.4->v1.0.5
  CITATION.cff
  README.md
  docs/source/source.rst
  pyproject.toml
  uv.lock
Due: none

app, one agent tab, add download config files button
  src/configuration/backup/crowd_to_dict.py
  src/configuration/utils/constants.py
  src/streamlit_app/tabs/one_agent_2D.py
Due: none

clarify vocabulary
  data/tutorial_configuration_files/crowd_custom.zip
  docs/source/installation.rst
  tutorials/configuration/create_crowd_ANSURII.ipynb
  tutorials/configuration/create_crowd_custom_statistics.ipynb
  tutorials/configuration/read_configuration_files.ipynb
Due: test-notebooks

export to pedpy
  docs/source/conf.py
  docs/source/configuration.backup.rst
  docs/source/tutorials_minimal_example_mechanical_layer.nblink
  pyproject.toml
  requirements.txt
  src/configuration/backup/xml_to_Chaos.py
  src/configuration/backup/xml_to_PedPy.py
  src/streamlit_app/plot/plot.py
  tutorials/mechanical_layer/evacuation/multiple_runs_.ipynb
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/multiple_runs.ipynb
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/multiple_runs.ipynb
  uv.lock
Due: test-notebooks

export to pedpy
  src/configuration/backup/xml_to_Chaos.py
  tutorials/mechanical_layer/evacuation/movies/evacuation_scenario.mov
  tutorials/mechanical_layer/evacuation/multiple_runs_.ipynb
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/dynamic/AgentDynamics.xml
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/multiple_runs.ipynb
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/dynamic/AgentDynamics.xml
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/multiple_runs.ipynb
Due: test-notebooks

export to pedpy
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/multiple_runs.ipynb
Due: test-notebooks

doc export to pedpy
  docs/requirements.txt
  docs/source/conf.py
  src/configuration/backup/xml_to_PedPy.py
Due: none

update emails
  CITATION.cff
  docs/source/source.rst
Due: none

merge ruff and mypy files to pyproject.toml
  .mypy.ini
  .ruff.toml
  pyproject.toml
Due: none

correct rotation
  src/mechanical_layer/src/MechanicalLayer.cpp
Due: check-doxygen

add youtube channel tutorials
  README.md
Due: none

correct installation
  .github/workflows/main.yml
Due: none

cmake correction -H -> -H.
  .github/workflows/main.yml
Due: none

fix llmv installation for macos runner
  .github/workflows/main.yml
Due: none

add doi publication
  CITATION.cff
Due: none

add doi publication
  README.md
  docs/source/source.rst
Due: none
