Repository Crowd-Mechanics/LEMONS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-doxygen, test-notebooks

check-doxygen:
  name: check-doxygen
  entry: ./.check-doxygen.sh
  language: system
  pass_filenames: false

test-notebooks:
  name: Setup and test notebooks
  entry: ./.check-notebooks.sh
  language: system
  pass_filenames: false

add documentation and material function k from EG , G from E nu
  src/configuration/data/datafactory.py
  src/configuration/models/shapes2D.py
  src/configuration/utils/functions.py
  src/streamlit_app/tabs/one_agent_2D.py
  src/streamlit_app/tabs/one_pedestrian_3D.py
  tests/configuration/test_materials_constants.py
  tutorials/mechanical_layer/multiple_runs.ipynb
Due: test-notebooks

reduce figure size in dpi
  data/images/generated/ANSURII_crowd_2.png
  data/images/generated/ANSURII_crowd_3.png
  data/images/generated/ANSURII_crowd_4.png
  data/images/generated/ANSURII_crowd_5.png
  data/images/generated/orthogonal_projection_of_a_male.png
  tutorials/configuration/create3Dped.ipynb
  tutorials/configuration/create_crowd_ANSURII.ipynb
Due: test-notebooks

include data/simul trajectories into plot of tutorials
  .pre-commit-config.yaml
  data/images/generated/ANSURII_crowd.png
  data/images/generated/ANSURII_crowd_2.png
  data/tutorial_mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/Parameters.xml
  data/tutorial_mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/external_force_per_mass.txt
  data/tutorial_mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/measured_head_trajectories.pkl
  data/tutorial_mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/Parameters.xml
  data/tutorial_mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/external_force_per_mass.txt
  data/tutorial_mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/measured_head_trajectories.pkl
  src/streamlit_app/plot/plot.py
  src/streamlit_app/tabs/crowd_creation_tab.py
  tests/mechanical_layer/test_push_agent_agent/run_video.py
  tests/mechanical_layer/test_push_agent_wall/run_video.py
  tests/mechanical_layer/test_slip_agent_agent/run_video.py
  tests/mechanical_layer/test_slip_agent_wall/run_video.py
  tests/mechanical_layer/test_t_rotation/run_video.py
  tests/mechanical_layer/test_t_translation/run_video.py
  tests/mechanical_layer/test_tangential_spring_agent_agent/run_video.py
  tests/mechanical_layer/test_tangential_spring_agent_wall/run_video.py
  tutorials/configuration/create_crowd_ANSURII.ipynb
  tutorials/configuration/create_crowd_custom_statistics.ipynb
  tutorials/configuration/read_configuration_files.ipynb
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/Parameters.xml
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/movies/example.mov
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/multiple_runs.ipynb
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/Parameters.xml
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/movies/example.mov
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/movies/pushing_scenario.mov
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/multiple_runs.ipynb
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/multiple_runs_old.ipynb
Due: test-notebooks

adjust parameters tutorial scenarios
  .gitignore
  data/tutorial_mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/Agents.xml
  data/tutorial_mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/Materials.xml
  data/tutorial_mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/Materials_old.xml
  data/tutorial_mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/Agents.xml
  data/tutorial_mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/Materials.xml
  src/configuration/backup/xml_to_Chaos.py
  src/configuration/utils/functions.py
  src/streamlit_app/tabs/one_agent_2D.py
  src/streamlit_app/tabs/one_pedestrian_3D.py
  tutorials/mechanical_layer/evacuation/Parameters.xml
  tutorials/mechanical_layer/evacuation/dynamic/AgentDynamics.xml
  tutorials/mechanical_layer/evacuation/movies/example.mov
  tutorials/mechanical_layer/evacuation/multiple_runs.ipynb
  tutorials/mechanical_layer/evacuation/static/Agents.xml
  tutorials/mechanical_layer/evacuation/static/Geometry.xml
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/movies/example.mov
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/movies/pushing_scenario.mov
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/multiple_runs.ipynb
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/static/Agents.xml
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/static/Materials.xml
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/movies/pushing_scenario.mov
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/multiple_runs.ipynb
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/multiple_runs_old.ipynb
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/static/Agents.xml
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/static/Materials.xml
Due: test-notebooks

adjust parameters tutorial scenarios
  .gitignore
  docs/source/tutorials_minimal_example_mechanical_layer.nblink
Due: none

adjust parameters tutorial scenarios
  data/tutorial_mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/Materials.xml
  data/tutorial_mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/Materials_old.xml
  data/tutorial_mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/Materials.xml
  tutorials/mechanical_layer/evacuation/Parameters.xml
  tutorials/mechanical_layer/evacuation/dynamic/AgentDynamics.xml
  tutorials/mechanical_layer/evacuation/movies/evacuation_scenario.mov
  tutorials/mechanical_layer/evacuation/multiple_runs_.ipynb
  tutorials/mechanical_layer/evacuation/static/Agents.xml
  tutorials/mechanical_layer/evacuation/static/Geometry.xml
  tutorials/mechanical_layer/evacuation/static/Materials.xml
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/static/Materials.xml
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/multiple_runs.ipynb
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/static/Materials.xml
Due: test-notebooks

adjust check notebook
  .check-notebooks.sh
Due: none

adjust path
  data/images/generated/ANSURII_crowd.png
  data/images/generated/ANSURII_crowd_2.png
  data/images/generated/ANSURII_crowd_3.png
  data/images/generated/ANSURII_crowd_4.png
  data/images/generated/ANSURII_crowd_5.png
  data/xml/.gitkeep
  tutorials/configuration/read_configuration_files.ipynb
Due: test-notebooks

add documentation
  README.md
  data/images/practical_case_evacuation.png
  data/images/practical_case_push_close_to_wall.png
  data/images/practical_case_push_far_from_wall.png
  docs/source/source.rst
  src/configuration/utils/functions.py
  tutorials/mechanical_layer/evacuation/multiple_runs_.ipynb
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/movies/pushing_scenario.mov
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/multiple_runs.ipynb
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/movies/pushing_scenario.mov
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/multiple_runs.ipynb
Due: test-notebooks

correct kaleido, cause issues on cloud
  src/streamlit_app/tabs/anthropometry_tab.py
  src/streamlit_app/tabs/one_agent_2D.py
  src/streamlit_app/tabs/one_pedestrian_3D.py
Due: none

correct path
  tutorials/configuration/create_crowd_ANSURII.ipynb
  tutorials/configuration/create_crowd_custom_statistics.ipynb
Due: test-notebooks

update zenodo and doc
  README.md
  data/tutorial_configuration_files/AgentDynamics.xml
  data/tutorial_configuration_files/Agents.xml
  data/tutorial_configuration_files/Geometry.xml
  data/tutorial_configuration_files/Materials.xml
  data/xml/.gitkeep
  src/streamlit_app/app/ui.py
  tests/configuration/test_backup_zip.py
  tutorials/configuration/create_crowd_ANSURII.ipynb
  tutorials/configuration/create_crowd_custom_statistics.ipynb
  tutorials/configuration/read_configuration_files.ipynb
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/multiple_runs.ipynb
Due: test-notebooks

update materials constant
  data/tutorial_configuration_files/crowd_ANSURII.zip
  data/tutorial_configuration_files/crowd_custom.zip
  src/configuration/utils/constants.py
Due: none

update materials constants
  data/tutorial_configuration_files/crowd_ANSURII.zip
  data/tutorial_configuration_files/crowd_custom.zip
Due: none

update materials constants
  .check-notebooks.sh
  .github/workflows/cpp_checks_and_mechanical_layer_tests.yml
Due: none

correct ci
  .check-notebooks.sh
  data/tutorial_configuration_files/crowd_ANSURII.zip
  data/tutorial_configuration_files/crowd_custom.zip
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

add pytest parallelisation
  .pre-commit-config.yaml
Due: none

correct ci and add doc
  .check-notebooks.sh
  .github/workflows/cpp_checks_and_mechanical_layer_tests.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  data/tutorial_configuration_files/crowd_ANSURII.zip
  data/tutorial_configuration_files/crowd_custom.zip
  docs/source/contributing.rst
  tutorials/mechanical_layer/evacuation/movies/evacuation_scenario.mov
Due: none

rm test notebook from pre commit config
  .pre-commit-config.yaml
Due: none

correct ci
  .check-notebooks.sh
Due: none

fix doxygen installation in ci
  .github/workflows/cpp_checks_and_mechanical_layer_tests.yml
Due: none

Have the mechanical layer fail in case of non positive stiffness. Add check of return code in tests, doc and tutorial
  docs/source/run_mechanical_layer.md
  src/mechanical_layer/src/InputStatic.cpp
  tests/mechanical_layer/test_push_agent_agent/run_simulation.py
  tests/mechanical_layer/test_push_agent_wall/run_simulation.py
  tests/mechanical_layer/test_slip_agent_agent/run_simulation.py
  tests/mechanical_layer/test_slip_agent_wall/run_simulation.py
  tests/mechanical_layer/test_t_rotation/run_simulation.py
  tests/mechanical_layer/test_t_translation/run_simulation.py
  tests/mechanical_layer/test_tangential_spring_agent_agent/run_simulation.py
  tests/mechanical_layer/test_tangential_spring_agent_wall/run_simulation.py
  tutorials/mechanical_layer/evacuation/multiple_runs_.ipynb
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/multiple_runs.ipynb
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/multiple_runs.ipynb
Due: check-doxygen, test-notebooks

fix run on both ubuntu-latest and macos-lates
  tests/mechanical_layer/make_tests_videos.sh
  tests/mechanical_layer/movies/test_push_agent_agent.mov
  tests/mechanical_layer/movies/test_push_agent_wall.mov
  tests/mechanical_layer/movies/test_slip_agent_agent.mov
  tests/mechanical_layer/movies/test_slip_agent_wall.mov
  tests/mechanical_layer/movies/test_t_rotation.mov
  tests/mechanical_layer/movies/test_t_translation.mov
  tests/mechanical_layer/movies/test_tangential_spring_agent_agent.mov
  tests/mechanical_layer/movies/test_tangential_spring_agent_wall.mov
  tests/mechanical_layer/run_mechanical_tests.sh
  tests/mechanical_layer/test_push_agent_agent/run_simulation.py
  tests/mechanical_layer/test_push_agent_wall/run_simulation.py
  tests/mechanical_layer/test_slip_agent_agent/run_simulation.py
  tests/mechanical_layer/test_slip_agent_wall/run_simulation.py
  tests/mechanical_layer/test_t_rotation/run_simulation.py
  tests/mechanical_layer/test_t_translation/run_simulation.py
  tests/mechanical_layer/test_tangential_spring_agent_agent/run_simulation.py
  tests/mechanical_layer/test_tangential_spring_agent_wall/run_simulation.py
Due: none

clarify doc
  .check-doxygen.sh
  .check-notebooks.sh
  docs/source/_static/logo/logo_GitHub.png
  tests/mechanical_layer/make_tests_videos.sh
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/multiple_runs.ipynb
Due: test-notebooks

clarify ci
  .github/workflows/cpp_checks_and_mechanical_layer_tests.yml
  .github/workflows/main.yml
Due: none

update external url
  CITATION.cff
  README.md
  docs/source/installation.rst
  docs/source/run_app_locally.rst
  docs/source/source.rst
  src/streamlit_app/app/ui.py
Due: none

update doc
  .check-notebooks.sh
Due: none

clarify doc
  docs/source/installation.rst
Due: none

add pre commit uv, clarify pyproject
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build package
  .github/workflows/main.yml
  .pre-commit-config.yaml
  CITATION.cff
  README.md
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

link pypi and github
  .github/workflows/main.yml
  .github/workflows/publish.yml
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

new tag and ci pre commit autoupdate_schedule: weekly -> monthly
  .pre-commit-config.yaml
Due: none

clarify doc, and add downloading from PyPi
  CONTRIBUTING.md
  docs/source/contributing.rst
  docs/source/installation.rst
  docs/source/run_app_locally.rst
  docs/source/tutorials_config_files.rst
  src/streamlit_app/app/app.py
  tutorials/mechanical_layer/evacuation/multiple_runs_.ipynb
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/multiple_runs.ipynb
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/multiple_runs.ipynb
Due: test-notebooks

clarify doc
  .github/workflows/main.yml
  CONTRIBUTING.md
  docs/source/contributing.rst
  docs/source/installation.rst
  docs/source/run_app_locally.rst
  pyproject.toml
  requirements.txt
  src/streamlit_app/app/app.py
  tutorials/mechanical_layer/evacuation/multiple_runs_.ipynb
  tutorials/mechanical_layer/push_Feldmann/Tue_15_m_noW_row2_15_w_s_b_p_n_d/multiple_runs.ipynb
  tutorials/mechanical_layer/push_Feldmann/Wed_03_m_wiW_row4_14_w_s_b_p_n_u/multiple_runs.ipynb
  uv.lock
Due: test-notebooks

add docs group pyproject
  docs/requirements.txt
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

add requirements.txt in docs
  .readthedocs.yaml
  docs/requirements.txt
Due: none

add pypi in doc
  README.md
  docs/source/installation.rst
Due: none

Path conditions:
  check-doxygen: any of: \.(h|hpp|cpp|c)$
  test-notebooks: any of: .*\.ipynb$
